.folder-name {
  display: flex;
  align-items: center;
  width: 100px;
  transform: translateX(-45%);
}

@media only screen and (max-width: 450px) {
  .folder-name {
    transform: translateX(-170%);
  }
}